{{page-title "Writtings"}}

<div class="tbz-container">
  <div class="tbz-content-container">
    <Navigation />

    <div class="tbz-content flex-row">

      <WrittingsMenu @model={{@model}} />

      <div class="tbz-writtings-content border-gradient">
        {{outlet}}
      </div>

    </div>
  </div>
  <div class="tbz-copyright">@ 2022 TB</div>
</div>