<div
  id="experience"
  class="experience-container"
>
  <h1>Experience</h1>

  <Landing::Experience::Unit
    @position="Senior Developer"
    @startFinish="March 2013 - Present"
    @company="Kohactive"
    @details="
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor nisi in ante ullamcorper, et tincidunt nulla aliquam. Fusce posuere, dui sed congue porta, sem ante lobortis purus, non pellentesque nibh elit et quam. Aliquam metus nisl, lobortis non justo sed, fermentum ullamcorper ligula. Nullam vestibulum, arcu quis sollicitudin cursus, nibh neque efficitur diam, fringilla tincidunt massa lorem vel mi.
    "
  />

  <Landing::Experience::Unit
    @position="Senior Developer"
    @startFinish="March 2013 - Present"
    @company="Kohactive"
    @details="
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor nisi in ante ullamcorper, et tincidunt nulla aliquam. Fusce posuere, dui sed congue porta, sem ante lobortis purus, non pellentesque nibh elit et quam. Aliquam metus nisl, lobortis non justo sed, fermentum ullamcorper ligula. Nullam vestibulum, arcu quis sollicitudin cursus, nibh neque efficitur diam, fringilla tincidunt massa lorem vel mi.
    "
  />
</div>