<ToggleDarkMode />

<Navigation @isOpen={{this.isOpen}} @toggleMenu={{this.toggleMenu}} />

<div class="content {{if this.isOpen "open" "close"}}">
  <Landing::About />
  <Landing::Experience />
  <Landing::Education />
  <Landing::Skills />
  <Landing::Portfolio />
  <Landing::Interests />
  <Landing::Contact />
</div>

{{!-- {{outlet}} --}}