@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'base/base';
@import 'base/variables';

@import 'tbztheme/tbz-base';
@import 'tbztheme/markdown';

/*@import 'components/notfound';
@import 'components/navigation';
@import 'components/content';
@import 'components/about';
@import 'components/experience';
@import 'components/education';
@import 'components/skills';
@import 'components/portfolio';
@import 'components/portfolio-item';
@import 'components/interests';
@import 'components/contact';
@import 'components/post';*/

.ember-dark-mode-toggle {
  margin-top: 80px;

  @screen md {
    margin-top: 16px;
    margin-right: 16px;
  }
}
