<div
  id="contact"
  class="contact-container"
>
  <h1>Contact</h1>

  <form
    class="contact-form"
    action="https://formspree.io/f/meqvrbvo"
    method="POST"
  >
    <label>
      <span>Email</span>
      <input type="email" name="_replyto">
    </label>
    <label>
      <span>Message</span>
      <textarea name="message"></textarea>
    </label>

    <button type="submit">Ping</button>
  </form>
  <div class="icon">
    <a href="#">
      <i class="fas fa-chevron-right"></i>
    </a>
  </div>
</div>