::selection {
  background: var(--highlight);
}
::-moz-selection {
  background: var(--highlight);
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url(/assets/fonts/montserrat-medium.ttf) format('truetype');
}

html {
  font-family: "Montserrat-Medium";
}
