:root {
  --primary: #6320EE;
  --primary-light: #8075FF;

  --black: #211A1D;
  --white: #ffffff;

  --alt-white: #F8F0FB;
  --accent: #CAD5CA;

  --gray: #808080;
  --gray-light: #C0C0C0;
  --gray-dark: #404040;

  --markup: #31B0EB;
  --language: #C12fED;
  --framework: #EB9234;
  --database: #4F2FED;
  --dependency: #0A8C3E;
}

/* TODO */
/* Font sizes */
/* Font family import */
