{{page-title "Contact"}}

{{#if (media "isMobile")}}
  <Navigation />
{{/if}}

<div class="tbz-container">
  <div class="tbz-content-container">
    {{#unless (media "isMobile")}}
      <Navigation />
    {{/unless}}

    <div class="tbz-content">

      <div
        id="contact"
        class="tbz-contact-container"
      >

        <h1 class="tbz-contact-header tbz-header">Contact</h1>

        <form
          class="contact-form"
          action="https://formspree.io/f/meqvrbvo"
          method="POST"
        >
          <label>
            <input type="email" name="_replyto" class="border-gradient" placeholder="email">
          </label>
          <label>
            <textarea name="message" class="border-gradient" placeholder="message"></textarea>
          </label>

          <div class="tbz-button-container">
            <button type="submit" aria-label="Send Message" class="background-gradient">SEND</button>
          </div>
        </form>
      </div>

    </div>
  </div>
  <div class="tbz-copyright">@ 2022 TB</div>


</div>