.content {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;

  @screen lg {
    height: 80%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 20%;
    right: 0;
    bottom: 0;
  }
}
