.education-container {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  padding: 32px;

  h1 {
    margin-top: 80px;
    color:  var(--text-accent-dark);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .education-unit {
    margin-top: 60px;
    color: var(--text-accent);

    .head {
      display: flex;
      justify-content: space-between;
      line-height: 24px;

      span:first-child {
        color: var(--text-acent-dark);
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;

        @screen lg {
          font-size: 32px;
        }

        small {
          display: block;
          font-size: 14px;
          color: var(--text-accent);

          @screen lg {
            display: inline;
          }
        }
      }

      span:last-child {
        color: var(--primary-light);
        align-self: flex-end;
        font-size: 11px;
        text-align: right;

        @screen lg {
          font-size: 14px;
        }
      }
    }

    h2 {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;

      @screen lg {
        font-size: 28px;
      }
    }

    p {
      margin-top: 28px;
    }
  }
}
