.experience-container {
  width: 100%;
  height: auto;
  background-color: var(--white);
  padding: 32px;

  h1 {
    color: var(--gray-dark);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .experience-unit {
    margin-top: 60px;
    color: var(--gray);

    .head {
      display: flex;
      justify-content: space-between;

      span:first-child {
        color: var(--gray-dark);
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;

        small {
          font-size: 14px;
          color: var(--gray);
        }
      }

      span:nth-child(3) {
        color: var(--primary-light);
        align-self: flex-end;
      }
    }

    h2 {
      font-size: 28px;
      font-weight: 600;
      text-transform: uppercase;
    }

    p {
      margin-top: 28px;
    }

    ul {
      margin-left: 16px;
      margin-top: 32px;
      li {
        list-style-type: circle;
      }
    }
  }
}
