.portfolio-container {
  width: 100%;
  height: auto;
  background-color: var(--white);
  padding: 32px;


  h1 {
    color:  var(--gray-dark);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .portfolio-unit {
    margin-bottom: 100px;
    h2 {
      color: var(--gray-dark);
      font-size: 32px;
      font-weight: 600;
      text-transform: uppercase;
    }

    h3 {
      color: var(--gray);
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
    }

    img {
      height: 40%;
      width: 40%;
      background-size: cover;
    }

    p {
      margin-top: 16px;
      color: var(--gray);
    }

    a {
      color: var(--primary-light);
    }
  }
}
