.post-container {
  width: 100%;
  height: auto;
  background-color: var(--background);
  padding: 64px;
  margin: 0 auto;
  position: relative;
  color: var(--text-accent-dark);

  h1 {
    margin-top: 80px;
    color: var(--text-accent);
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;

    @screen md {
      margin-top: 40px;
    }
  }

  h2 {
    margin-top: 40px;
    color: var(--text-accent);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }

  h3 {
    margin-top: 15px;
    color: var(--text-accent);
    font-size: 16px;
    text-transform: uppercase;
  }

  a {
    color: var(--primary);
  }

  ul {
    list-style-type: circle;

    li {
      margin-left: 16px;
    }
  }
}
