.skills-container {
  width: 100%;
  height: auto;
  background-color: var(--white);
  padding: 32px;

  h1 {
    margin-top: 80px;
    color: var(--gray-dark);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .skills-legend {
    display: ;
    border-bottom: 1px solid var(--gray-light);
    color: white;
    margin-top: 30px;
    text-transform: uppercase;

    @screen lg {
      display: flex;
      margin-top: 60px;
    }

    span {
      text-transform: uppercase;
      color: var(--gray);
      font-size: 24px;
      font-weight: 600;
      margin-right: 8px;
    }

    div {
      display: block;
      padding: 4px;
      text-align: center;

      @screen lg {
        flex: 1;
        width: 36px;
        margin-bottom: 24px;
        text-align: center;
        vertical-align: middle;
        line-height: 36px;
        text-align: center;
        vertical-align: middle;
      }
    }
  }

  .block-one {
    background-color: var(--primary);
  }

  .block-two {
    background-color: var(--gray);
  }

  .block-three {
    background-color: var(--primary-light);
  }

  .block-four {
    background-color: var(--gray-dark);
  }

  .block-five {
    background-color: white;
    color: var(--primary);
    border: 2px solid var(--primary);
    span {
      color: var(--primary) !important;
    }
  }

  .skillz {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .skills-unit {
      /*flex-grow: 5;*/
      width: 150px;
      min-width: 60px;
      border-radius: 8px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin: 4px;
      text-align: center;
      vertical-align: middle;

      @screen lg {
        height: 48px;
        width: 250px;
        min-width: 100px;
        margin: 8px;
      }

      span {
        width: 100%;
        text-align: center;
        color: white;
        font-size: 12px;
        line-height: 24px;
        word-wrap: break-word;

        @screen lg {
          line-height: 48px;
          padding: 8px;
        }
      }
    }

    .skills-unit:nth-child(3n) {
      flex: 2;
      /*flex-grow: 5;*/
    }

    .skills-unit:nth-child(odd) {
      flex: 1;
      /*flex-grow: 3;*/
    }

/*    .skills-unit:nth-child(4n) {
       Add more block sizes via flex here
      flex: ;
    }*/
  }
}
