<div
  id="education"
  class="education-container"
>
  <h1>Education</h1>

  <Landing::Education::Unit
    @school="LEARN Academy"
    @location="San Diego, CA"
    @startFinish="September 2015 - November 2015"
    @degree="Ruby on Rails"
    @details="LEARN Academy is a Ruby on Rails immersive software development bootcamp."
  />

  <Landing::Education::Unit
    @school="ECC"
    @location="Elgin, IL"
    @startFinish="August 2009 - May 2015"
    @degree="Associates"
    @details="Industrial Manufacturing and Business Sales, while working one full-time job and a second job on the weekends"
  />
</div>