<div
  id="education"
  class="education-container"
>
  <h1>Education</h1>

  <Landing::Education::Unit
    @school="Elgin Community College"
    @startFinish="March 2013 - Present"
    @degree="Associates"
    @details="Industrial Manufacturing and Business Sales"
  />

  <Landing::Education::Unit
    @school="Elgin Community College"
    @startFinish="March 2013 - Present"
    @degree="Associates"
    @details="Industrial Manufacturing and Business Sales"
  />
</div>