<div
  id="interests"
  class="interests-container"
>
  <h1>Interests</h1>

  <div class="photos">
    {{#each (repeat 6) as |empty index|}}
      <img src="/assets/images/interests/image-{{index}}.jpg">
    {{/each}}
  </div>
</div>