<div
  id="skills"
  class="skills-container"
>
  <h1>Skills</h1>

  <div class="skills-legend">
    <span>Legend</span>
    <div class="block-one">Misc</div>
    <div class="block-two">Languages</div>
    <div class="block-three">Frameworks</div>
    <div class="block-four">Databases</div>
    <div class="block-five">Soft Skills</div>
  </div>

  <div class="skillz">
    {{!-- Misc --}}
    <LandingView::Skills::Unit
      @skill="HTML"
      @style="block-one"
    />
    <LandingView::Skills::Unit
      @skill="Bash/ZSH"
      @style="block-one"
    />
    <LandingView::Skills::Unit
      @skill="Wordpress"
      @style="block-one"
    />
    <LandingView::Skills::Unit
      @skill="AWS Buckets"
      @style="block-one"
    />
    <LandingView::Skills::Unit
      @skill="Tailwind"
      @style="block-one"
    />
    <LandingView::Skills::Unit
      @skill="Git"
      @style="block-one"
    />

    {{!-- Language --}}
    <LandingView::Skills::Unit
      @skill="CSS"
      @style="block-two"
    />
    <LandingView::Skills::Unit
      @skill="Ruby"
      @style="block-two"
    />
    <LandingView::Skills::Unit
      @skill="Javascript"
      @style="block-two"
    />
    <LandingView::Skills::Unit
      @skill="Elixir"
      @style="block-two"
    />
    <LandingView::Skills::Unit
      @skill="Swift"
      @style="block-two"
    />

    {{!-- Framework --}}
    <LandingView::Skills::Unit
      @skill="Rails"
      @style="block-three"
    />
    <LandingView::Skills::Unit
      @skill="Ember"
      @style="block-three"
    />
    <LandingView::Skills::Unit
      @skill="Phoenix"
      @style="block-three"
    />
    <LandingView::Skills::Unit
      @skill="Elixir"
      @style="block-three"
    />
    <LandingView::Skills::Unit
      @skill="CocoaTouch"
      @style="block-three"
    />
    <LandingView::Skills::Unit
      @skill="Backbone"
      @style="block-three"
    />

    {{!-- Database --}}
    <LandingView::Skills::Unit
      @skill="Postgres"
      @style="block-four"
    />
    <LandingView::Skills::Unit
      @skill="MongoDB"
      @style="block-four"
    />
    <LandingView::Skills::Unit
      @skill="Communication"
      @style="block-five"
    />
    <LandingView::Skills::Unit
      @skill="Data Mgmt."
      @style="block-five"
    />
    <LandingView::Skills::Unit
      @skill="Accounting"
      @style="block-five"
    />
    <LandingView::Skills::Unit
      @skill="Account Mgmt."
      @style="block-five"
    />
    <LandingView::Skills::Unit
      @skill="B2B"
      @style="block-five"
    />
    <LandingView::Skills::Unit
      @skill="Branding"
      @style="block-five"
    />
    <LandingView::Skills::Unit
      @skill="Presenting"
      @style="block-five"
    />
    <LandingView::Skills::Unit
      @skill="Sales"
      @style="block-five"
    />
    <LandingView::Skills::Unit
      @skill="Data Analysis"
      @style="block-five"
    />
    <LandingView::Skills::Unit
      @skill="Manufacturing"
      @style="block-five"
    />
    <LandingView::Skills::Unit
      @skill="Product Dev."
      @style="block-five"
    />
    <LandingView::Skills::Unit
      @skill="International Logistics"
      @style="block-five"
    />
  </div>
</div>