<div
  id="portfolio"
  class="portfolio-container"
>
  <h1>Recent Portfolio</h1>

  <LinkTo @route="items.index" class="full-link">
    <i class="fas fa-arrow-right"></i>
    Full Portfolio
  </LinkTo>

  <LandingView::Portfolio::Unit
    @name="Ember JSONAPI Pagination"
    @tagline="Open Source"
    @image="https://i.imgur.com/a5CNlhl.png"
    @description="A JSONAPI spec paginaton package for adding pagination buttons."
    @code="https://www.npmjs.com/package/ember-jsonapi-pagination"
  />

  <LandingView::Portfolio::Unit
    @name="All Things Swift"
    @tagline="Swift"
    @image="https://i.ibb.co/w72PYkh/ats-logo.png"
    @description="A monthly Swift meetup in Chicago and San Diego."
    @code="https://allthingsswift.org"
  />
</div>