.tbz {
  font-family: 'NanumBrushScript-Regular';
}

.tbz-font-color {
  background: linear-gradient(to right, #7927b2, #fb3182);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.tbz-header {
  font-family: 'Montserrat-Bold';
  font-size: 90px;
  font-weight: bold;
  background: linear-gradient(to right, #7927b2, #fb3182);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  line-height: .77;
}

.tbz-post-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 3.75rem;
  padding-bottom: 100px;
  background: #fff;
  display: block;
  justify-content: center;
  align-items: center;
}

.tbz-post-header{
  margin-bottom: 12px;
}

.tbz-post-info {
  margin-bottom: 40px;
}

.border-gradient {
  /*border: 1px solid;*/
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  animation: border 15s ease infinite;
}

.background-gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes border {
  0% {
    border-image-source: linear-gradient(to left, #ee7752, #e73c7e);
  }
  50% {
    border-image-source: linear-gradient(to right, #23a6d5, #23d5ab);
  }
  100% {
    border-image-source: linear-gradient(to right, #23d5ab, #ee7752);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tbz-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 2% 6%;
  z-index: 99;

  background-image: url('/assets/images/comic-removebg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
}


.tbz-content-container {
  position: relative;
  width: 100%;
  height: 90vh;
  /*overflow: scroll;*/
  margin: auto;
  background-color: white;
}

.tbz-navigation {
  position: sticky;
  width: 100%;
  background: #ffffff;
  z-index: 99;
  padding: 1.5rem;
  display: flex;
  /*line-height: 3.5rem;*/
  line-height: 6vh;
  vertical-align: middle;
  border-bottom: 1px solid;
}

.tbz-navigation ul {
  text-align: left;
  flex: 1;
}

.tbz-navigation span {
  flex: 1;
  text-align: right;
  font-size: 60px;
}

.tbz-menu-link {
  margin-right: 2rem;
}

.tbz-menu-link.active {
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  padding-bottom: 10px;
}

.tbz-copyright {
  width: 100%;
  text-align: right;
  color: #CCCCCC;
  margin-top: .5rem;
  display: block;
}

/* Writings */
.tbz-content {
  display: flex;
  position: relative;
  width: 100%;
  height: 84vh;

}

.tbz-writtings-menu {
  position: sticky;
  background-color: white;
  height: 80vh;
  padding: 28px;
  flex-basis: 20%;
  overflow: scroll;
  border-right: 1px solid;
}

.tbz-writtings-menu li {
  margin-bottom: 2rem;
}

.tbz-writtings-menu a.active {
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  padding-bottom: 10px;
}

.tbz-writtings-content {
  flex-basis: 80%;
  overflow: scroll;
  height: 80vh;
}

/* Contact */
.tbz-contact-header {
  text-align: center;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
}

.tbz-contact-container {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
}

.contact-form {
  width: 80%;
  margin: 0 auto;
  /*display: flex;*/
}

.tbz-contact-container label {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.tbz-contact-container span {
  display: block;
  text-align: left;
}

.tbz-contact-container input {
  width: 100%;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  animation: border 15s ease infinite;
}

.tbz-contact-container textarea {
  width: 100%;
  height: 20rem;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  animation: border 15s ease infinite;
}

.tbz-button-container button{
  color: white;
  padding: 6px 12px;
  font-size: 24px;
  border-radius: 8px;
  /*text-align: right;*/
}


