<Navigation />

<div class="content">
  <Landing::About />
  <Landing::Experience />
  <Landing::Education />
  <Landing::Skills />
  <Landing::Portfolio />
  <Landing::Interests />
  <Landing::Contact />
</div>

{{!-- {{outlet}} --}}