{{page-title "About"}}

<div class="tbz-container">
  <div class="tbz-content-container">
    <Navigation />

    <div class="tbz-content tbz-post-container">

      <h1 class="tbz-header">Tobias Brysiewicz</h1>

    </div>
  </div>
  <div class="tbz-copyright">@ 2022 TB</div>


</div>