<div
  id="portfolio"
  class="portfolio-container"
>
  <h1>Portfolio</h1>

  <Landing::Portfolio::Unit
    @name="Awesome Project #1"
    @tagline="Distributed Technologies"
    @image="https://www.intelegain.com/wp-content/uploads/2020/02/xFitness1.jpg.pagespeed.ic.H5EC17Aotr.jpg"
    @description="The very best project!"
    @code="https://github.com/teebrysiewicz"
  />

  <Landing::Portfolio::Unit
    @name="Awesome Project #1"
    @tagline="Distributed Technologies"
    @image="https://www.intelegain.com/wp-content/uploads/2020/02/xFitness1.jpg.pagespeed.ic.H5EC17Aotr.jpg"
    @description="The very best project!"
    @code="https://github.com/teebrysiewicz"
  />
</div>