<div
  id="portfolio"
  class="portfolio-container"
>
  <h1>Portfolio</h1>

  <Landing::Portfolio::Unit
    @name="Awesome Project #1"
    @tagline="Distributed Technologies"
    @image="https://i.etsystatic.com/25279800/r/il/361028/2791307133/il_570xN.2791307133_6wyy.jpg"
    @description="The very best project!"
    @code="https://github.com/teebrysiewicz"
  />

  <Landing::Portfolio::Unit
    @name="Awesome Project #1"
    @tagline="Distributed Technologies"
    @image="https://i.etsystatic.com/25279800/r/il/361028/2791307133/il_570xN.2791307133_6wyy.jpg"
    @description="The very best project!"
    @code="https://github.com/teebrysiewicz"
  />
</div>