<div class="tbz-navigation">
  <ul>
    <li>
      <LinkTo
        @route="writtings"
        class="tbz-menu-link"
      >
          Writtings
      </LinkTo>
      <LinkTo
        @route="about"
        class="tbz-menu-link"
      >
          About
      </LinkTo>
      <LinkTo
        @route="contact"
        class="tbz-menu-link"
      >
          Contact
      </LinkTo>
    </li>
  </ul>
</div>