<div
  id="skills"
  class="skills-container"
>
  <h1>Skills</h1>

  <div class="skills-legend">
    <span>Legend</span>
    <div class="block-one">Misc</div>
    <div class="block-two">Languages</div>
    <div class="block-three">Frameworks</div>
    <div class="block-four">Databases</div>
  </div>

  <div class="skillz">
    {{!-- Misc --}}
    <Landing::Skills::Unit
      @skill="HTML"
      @style="block-one"
    />
    <Landing::Skills::Unit
      @skill="Bash/ZSH"
      @style="block-one"
    />
    <Landing::Skills::Unit
      @skill="Wordpress"
      @style="block-one"
    />
    <Landing::Skills::Unit
      @skill="AWS Buckets"
      @style="block-one"
    />

    {{!-- Language --}}
    <Landing::Skills::Unit
      @skill="CSS"
      @style="block-two"
    />
    <Landing::Skills::Unit
      @skill="Ruby"
      @style="block-two"
    />
    <Landing::Skills::Unit
      @skill="Javascript"
      @style="block-two"
    />
    <Landing::Skills::Unit
      @skill="Elixir"
      @style="block-two"
    />
    <Landing::Skills::Unit
      @skill="Swift"
      @style="block-two"
    />

    {{!-- Framework --}}
    <Landing::Skills::Unit
      @skill="Rails"
      @style="block-three"
    />
    <Landing::Skills::Unit
      @skill="Ember"
      @style="block-three"
    />
    <Landing::Skills::Unit
      @skill="Phoenix"
      @style="block-three"
    />
    <Landing::Skills::Unit
      @skill="Elixir"
      @style="block-three"
    />
    <Landing::Skills::Unit
      @skill="CocoaTouch"
      @style="block-three"
    />

    {{!-- Database --}}
    <Landing::Skills::Unit
      @skill="Postgres/SQL"
      @style="block-four"
    />
    <Landing::Skills::Unit
      @skill="MongoDB/NoSQL"
      @style="block-four"
    />
  </div>
</div>