<div
  id="skills"
  class="skills-container"
>
  <h1>Skills</h1>

  <div class="skills-legend">
    <span>legend</span>
  </div>

  <div class="skillz">
    {{!-- Dependency --}}
    <Landing::Skills::Unit
      @skill="CSS"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Ruby"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Javascript"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Elixir"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Swift"
      @type="language"
    />

    {{!-- Markup --}}
    <Landing::Skills::Unit
      @skill="CSS"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Ruby"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Javascript"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Elixir"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Swift"
      @type="language"
    />

    {{!-- Language --}}
    <Landing::Skills::Unit
      @skill="CSS"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Ruby"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Javascript"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Elixir"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Swift"
      @type="language"
    />

    {{!-- Framework --}}
    <Landing::Skills::Unit
      @skill="CSS"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Ruby"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Javascript"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Elixir"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Swift"
      @type="language"
    />

    {{!-- Database --}}
    <Landing::Skills::Unit
      @skill="CSS"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Ruby"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Javascript"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Elixir"
      @type="language"
    />
    <Landing::Skills::Unit
      @skill="Swift"
      @type="language"
    />
  </div>
</div>